<script src="/static/js/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/datepicker/locales/bootstrap-datepicker.th.min.js" charset="UTF-8"></script>
<script src="/static/js/bootstrap-typeahead.js" charset="UTF-8"></script>
<script>
    $(document).ready(function () {
        var $editOveray = $('#editOveray');
        $('#ret-table').on("click", "tbody > tr", function (index) {
            var bottomWidth = $(this).css('width');
            var intWidth = parseInt(bottomWidth.replace("px", ""));
            var bottomHeight = '40px';
            var rowPos = $(this).position();
            bottomTop = rowPos.top;
            bottomLeft = rowPos.left;
            eTop = $(this).offset().top + 7;
            $editOveray.css({
                position: 'absolute',
                top: eTop,
                width: (intWidth - 15) + 'px',
                height: bottomHeight,
            });
            $("#current-row").val($(this).attr("index-val"));
            $("#item-id").val($(this).find(".ProductId").val());
            $("#item-name").val($(this).find(".ProductName").val());
            $("#unit-code").val($(this).find(".ProductUnitID").val()); 
            $("#qty").val($(this).find(".ProductQty").val());
            $("#price").val($(this).find(".ProductPrice").val());
            $editOveray.show();
        });

        var templateRow = `<tr  style="cursor: pointer;" index-val="@">
                                <input type="hidden" class="ProductId" name="Product[@].ID" value="{0}" /> 
                                <input type="hidden" class="ProductName" name="Product[@].Name" value="{1}" />
                                <input type="hidden" class="ProductUnitID" name="Product[@].Unit.ID" value="{2}" /> 
                                <input type="hidden" class="ProductQty" name="Product[@].Qty" value="{3}" />
                                <input type="hidden" class="ProductPrice" name="Product[@].Price" value="{4}" />
                                <input type="hidden" class="ProductTotalPrice" name="Product[@].TotalPrice" value="{5}" />

                                <td class="col-md-5 table-td-mid ProductNameText">{6}</td> 
                                <td class="col-md-2 table-td-mid table-td-number ProductQtyText">{7}</td>
                                <td class="col-md-2 table-td-mid table-td-number ProductPriceText">{8}</td>
                                <td class="col-md-2 table-td-mid table-td-number ProductTotalPriceText"  >{9}</td>
                                <td class="col-md-1 table-td-mid table-td-number"  >
                                    <div class="btn-group">
                                        <a class="btn btn-danger btn-flat btn-flat btn-sm delete-row">
                                            <i class="fa  fa-close"></i>
                                        </a>
                                    </div>
                                </td>
                         </tr>`;
        {{if not .RetCount}}
            for (i = 0; i <= 3; i++) {
                appendEmptyRow(i);
            }
        {{end}}
        $(".cancel-edit-row").click(function (event) {
            $editOveray.hide();
        });

        $(".ok-edit-row").click(function (event) {
            var index  =  $("#current-row").val();
            $('#RetData > tr').eq(index).find(".ProductId").val($('#item-user-edit-id').val());
            $('#RetData > tr').eq(index).find(".ProductUnitID").val($('#item-user-edit').val()); 
            $('#RetData > tr').eq(index).find(".ProductQty").html($('#item-user-edit').val());
            $('#RetData > tr').eq(index).find(".ProductPrice").html($('#item-user-edit').val());
            $('#RetData > tr').eq(index).find(".ProductTotalPrice").html($('#item-user-edit').val());
            $editOveray.hide();
        }); 

        $(".delete-row").click(function (event) {
            deleteRow($(this));
        });

        $(".add-row").click(function (event) {
            var rowCount = $('#RetData tr').length;
            appendEmptyRow(rowCount);
            $(".delete-row").click(function (event) {
                deleteRow($(this));
                $editOveray.hide();
            });
        });

        $('#DocDate').datepicker({
            autoclose: true,
            language: 'th',
            todayBtn: true,
            orientation: "auto",
            todayHighlight: true,
            format: 'dd-mm-yyyy',
        });
        $('#DocTime').timepicker({
            minuteStep: 1,
            disableFocus: true,
            template: 'dropdown',
            orientation: "auto",
            showMeridian:false,
            defaultTime: ''
         }); 



        function appendEmptyRow(index) {
            $('#RetData').append(
                templateRow.replace(/@/g, index)
                .replace(/@/g, index)
                .replace('{0}', '')
                .replace('{1}', '')
                .replace('{2}', '')
                .replace('{3}', '')
                .replace('{4}', '')
                .replace('{5}', '')
                .replace('{6}', '')                 
                .replace('{7}', '0.00')
                .replace('{8}', '0.00')
                .replace('{9}', '0.00')
            );
        }

        function deleteRow(buttonRow) {
            buttonRow.parent().parent().parent().remove();
            $editOveray.hide();
            $("#RetData tr").each(function (index) {
                $(this).attr("index-val", index);
                $(this).find(".ProductId").attr("name", "Product[" + index + "].ID");
                $(this).find(".ProductName").attr("name", "Product[" + index + "].Name");
                $(this).find(".ProductUnitID").attr("name", "Product[" + index + "].Unit.ID");
                $(this).find(".ProductQty").attr("name", "Product[" + index + "].Qty");
                $(this).find(".ProductPrice").attr("name", "Product[" + index + "].Price");
                $(this).find(".ProductTotalPrice").attr("name", "Product[" + index + "].TotalPrice");
            });            
        }
    });
</script>