<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Test</title>
<style type="text/css">
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    .x-thead { display:table-header-group }
    tfoot { display:table-footer-group }
</style>
</head>
<body>
    <div class="x-thead">

    </div>
    <table>
        <thead>
                <tr><th>heading</th></tr>
            <tr><th>heading</th></tr>
        </thead>
        <tfoot>
            <tr><td>notes</td></tr>
        </tfoot>
        <tbody>
                <tr>
                        <td>x</td>
                    </tr>
                    <tr>
                        <td>x</td>
                    </tr>
                    <tr>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td>x</td>
                        </tr>
                        <tr>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                            </tr>
                            <tr>
                                    <td>x</td>
                                </tr>
                                <tr>
                                    <td>x</td>
                                </tr>
                    
                                <tr>
                                        <td>x</td>
                                    </tr>
                                    <tr>
                                        <td>x</td>
                                    </tr>
                                    <tr>
                                            <td>x</td>
                                        </tr>
                                        <tr>
                                            <td>x</td>
                                        </tr>
                                        <tr>
                                                <td>x</td>
                                            </tr>
                                            <tr>
                                                <td>x</td>
                                            </tr>
                                            <tr>
                                                    <td>x</td>
                                                </tr>
                                                <tr>
                                                    <td>x</td>
                                                </tr>
                    
                                                <tr>
                                                        <td>x</td>
                                                    </tr>
                                                    <tr>
                                                        <td>x</td>
                                                    </tr>
                                                    <tr>
                                                            <td>x</td>
                                                        </tr>
                                                        <tr>
                                                            <td>x</td>
                                                        </tr>
                                                        <tr>
                                                                <td>x</td>
                                                            </tr>
                                                            <tr>
                                                                <td>x</td>
                                                            </tr>
                                                            <tr>
                                                                    <td>x</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>x</td>
                                                                </tr>
                                                                

                                                                <tr>
                                                                        <td>x</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>x</td>
                                                                    </tr>
                                                                    <tr>
                                                                            <td>x</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>x</td>
                                                                        </tr>
                                                                        <tr>
                                                                                <td>x</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>x</td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td>x</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>x</td>
                                                                                </tr>
                                                                                
                                                                                <tr>
                                                                                        <td>x</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>x</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                            <td>x</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>x</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                                <td>x</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>x</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                    <td>x</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>x</td>
                                                                                                </tr>
                                                                                                
        <tr>
            <td>x</td>
        </tr>
        <tr>
            <td>x</td>
        </tr>
        <tr>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
            </tr>
            <tr>
                    <td>x</td>
                </tr>
                <tr>
                    <td>x</td>
                </tr>
                <tr>
                        <td>x</td>
                    </tr>
                    <tr>
                        <td>x</td>
                    </tr>

        <!-- 500 more rows -->
        <tr>
            <td>x</td>
        </tr>
    </tbody>
    </table>
</body>
</html>