<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green">
                    <i class="ion ion-ios-cart-outline"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">ขาย</span>
                    <span class="info-box-number">รับ/แก้ไข ออร์เดอร์</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua">
                    <i class="fa fa-list-alt"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">ขาย</span>
                    <span class="info-box-number">จองโต๊ะ</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-purple-active">
                    <i class="fa fa-exchange"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">ขาย</span>
                    <span class="info-box-number">ย้ายโต๊ะ</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow">
                    <i class="fa  fa-random"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">ขาย</span>
                    <span class="info-box-number">แยกโต๊ะ</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-maroon-active">
                    <i class="fa fa-plus-square"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">ขาย</span>
                    <span class="info-box-number">รวมโต๊ะ</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red">
                    <i class="fa  fa-remove"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">ขาย</span>
                    <span class="info-box-number">ปิดโต๊ะ</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-teal-active">
                        <i class="fa fa-stop"></i>
                    </span>
    
                    <div class="info-box-content">
                        <span class="info-box-text">ครัว</span>
                        <span class="info-box-number">ปิด/เปิด รับออร์เดอร์</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue-active">
                            <i class="fa fa-credit-card"></i>
                        </span>
        
                        <div class="info-box-content">
                            <span class="info-box-text">ขาย</span>
                            <span class="info-box-number">เช็คบิล</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
        <!-- /.col -->
    </div>
    
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">คิวอาหาร</h3>
    
                  <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
    
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody><tr>
                      <th>Order</th>
                      <th>เมนู</th>
                      <th>โต๊ะ</th>                      
                    </tr>
                    <tr>
                      <td>183</td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>                       
                    </tr>
                    <tr>
                      <td>219</td>
                      <td>Alexander Pierce</td>
                      <td>11-7-2014</td>
                      
                    </tr>
                    <tr>
                      <td>657</td>
                      <td>Bob Doe</td>
                      <td>11-7-2014</td>
                    </tr>
                    <tr>
                      <td>175</td>
                      <td>Mike Doe</td>
                      <td>11-7-2014</td>
                    </tr>
                  </tbody></table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
             
</section>
<!-- /.content -->