<section class="content-header">
    {{if .ret.RetOK}}
        {{if .ret.RetData}}
        <div id="top-alert">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ .ret.RetData}}
            </div>
        </div>
        {{end}}
    {{end}}
    {{if not  .ret.RetOK}}
        {{if .ret.RetData}}
        <div id="top-alert"  >
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ .ret.RetData}}
            </div>
        </div>
        {{end}}
    {{end}}
    <h1 id="title-content">
        {{.title}}
    </h1>
</section>
<section class="content">
    <form 
    {{if .r }}
    {{else }}
       action="/company"
    {{end}}
     autocomplete="off"  id="company-form" enctype="multipart/form-data" method="post">
        {{ .xsrfdata }}
        <input type="hidden" id="ID" name="ID" value="{{.m.ID}}" />
        <div id="box-req" class="box box-primary">
            <div class="box-body">
                <div class="form-group req-box-form">
                    <div class="col-xs-12">
                        <label for="req-name">ชื่อ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" id="Name" required name="Name" class="form-control" {{.r }} autocomplete="off" placeholder="ชื่อ...." value="{{.m.Name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form" style="margin-bottom:50px;">
                    <div class="col-xs-12">
                        <label for="req-date-event">ที่อยู่</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            <textarea class="form-control"  id="Address" name="Address" rows="3" {{.r }} placeholder="ที่อยู่....">{{.m.Address}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-sn">จังหวัด</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-location-arrow"></i>
                            </span>
                            <select id="ProvinceID" name="Province.ID"  {{.r }} class="form-control province">
                                    {{range $key, $val := .Province}}
                                        <option value="{{$val.ID}}" > {{$val.Name}} </option>
                                    {{end}}   
                            </select>   
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-date-event">รหัสไปรษณีย์</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-location-arrow"></i>
                            </span>
                            <input type="text" id="PostCode"  name="PostCode" class="form-control" {{.r }}   maxlength="5"
                              value="{{.m.PostCode}}"   placeholder="รหัสไปรษณีย์">
                        </div>
                    </div>
                </div>
                <div class="form-group req-box-form">
                    <div class="col-xs-6">
                        <label for="req-sn">ผู้ติดต่อ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-book"></i>
                            </span>
                            <input type="text" id="Contact" name="Contact" class="form-control" {{.r }} autocomplete="off"  
                            value="{{.m.Contact}}"   placeholder="ผู้ติดต่อ">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="req-date-event">โทรศัพท์</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" id="Tel" name="Tel" {{.r }} class="form-control"    
                            value="{{.m.Tel}}"  placeholder="โทรศัพท์">
                        </div>
                    </div>
                </div>        
                <div class="form-group req-box-form"  >
                    <div class="col-xs-12">
                            <label>โลโก้</label>
                            <br>
                            <br>
                            <img id='img-upload' title="โลโก้" src="data:image/png|tiff|jpg|gif;base64,{{.m.ImageBase64}}" width="150" height="150" />
                            <br>
                            <br>
                            <div class="input-group">
                                <span class="btn btn-success btn-file">
                                    เลือกรูป <input type="file" name="ImgLogo" id="imgInp">
                                </span>
                                <input type="text" class="form-control" style="display:none;" readonly>
                            </div>
                            <br>
                    </div>
                </div>        
                <div class="form-group req-box-form"  >
                    <div class="col-xs-12">
                        <label for="req-date-event">หมายเหตุ</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-align-left"></i>
                            </span>
                            <textarea class="form-control"  {{.r }} id="Remark" name="Remark" rows="3" placeholder="หมายเหตุ">{{.m.Remark}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{if .r}} {{else}}
                <button type="submit" class="btn btn-primary pull-right">บันทึก</button> 
                {{end}}
            </div>
        </div>
    </form>
</section>
 